body {
    overflow: hidden;
}

#ball {
    /* width: 60px;
    height: 60px;
    background-color: black; */
    /* border-radius: 50%; */
    position: absolute;
    z-index: 1000;
}

img {
    width: 60px;
    height: 60px;
}